@use '../custom' as *;

$journey-step-1: #0097a7;
$journey-step-2: #9c27b0;
$journey-step-3: #5f4339;
$journey-step-4: #3f51b5;
$journey-step-5: #d63384;
$journey-step-6: #4caf50;
$emotional-sad: #dc3545;
$emotional-happy: #198754;
$emotional-mid: #fd7e14;

.case-intro{
    padding:6rem 0 3rem 0;
    height:100%;
    width:100%;
    color:$primary;
    background-color: $light;
}

.case-section{
    padding:2rem 0;
    height:100%;
    width:100%;
    color:$primary;
    background-color: $light;
}

    /*speech bubble styling*/

    .speech-bubble {
    position: relative;
    border-radius: 1rem !important;
    background-color: $indigo;
    color: #ffffff;
    padding: 15px;
    }

    .speech-bubble-bottom-left:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 0;
        height: 0;
        border: 1.781em solid transparent;
        border-top-color: $indigo;
        border-bottom: 0;
        border-left: 0;
        margin-left: -0.891em;
        margin-bottom: -1.781em;
      }
      
      .speech-bubble-bottom-right:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 90%;
        width: 0;
        height: 0;
        border: 1.781em solid transparent;
        border-top-color: #000000;
        border-bottom: 0;
        border-right: 0;
        margin-left: -0.891em;
        margin-bottom: -1.781em;
      }
      
      .meter {
        height: 1vh;
        position: relative;
        background: #ccc;
        border-radius: 25px;
      }
      
      .meter > span {
        display: block;
        height: 1vh;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $green-400;
        position: relative;
        overflow: hidden;
      }

  /*user journey map and story*/
  .chevron-section {
    color: white;
  }
  
  .journey-step-1 {
    background-color: $journey-step-1;
  }
  
  .journey-step-2 {
    background-color: $journey-step-2;
  }
  
  .journey-step-3 {
    background-color: $journey-step-3;
  }
  
  .journey-step-4 {
    background-color: $journey-step-4;
  }
  
  .journey-step-5 {
    background-color: $journey-step-5;
  }
  
  .journey-step-6 {
    background-color: $journey-step-6;
  }
  
  .card-footer {
    color: #fff;
  }

  .user-journey{
    .bi{
        font-size:1.4rem;
    }
  }
    
  .meter .sad {
    background-color: $emotional-sad;
  }
  
  .meter .happy {
    background-color: $emotional-happy;
  }
  
  .meter .mid {
    background-color: $emotional-mid;
  }
