@use '../custom' as *;
@use '../components/mixins' as *;

.hero-section{
    padding:4rem 0;
    height:100%;
    width:100%;
    background-color: $primary;
}

.portfolio-hero-section{
    padding:6rem 0;
    height:100%;
    width:100%;
    background-color: $white;
    color:$primary;

    h1{
        -webkit-text-stroke: 3px $primary;
    }
    
    span{
        &.text-transparent{
            color:$white;
            -webkit-text-stroke: 3px $primary;
        }
    }
}

.intros{
    .video-holder{
      position:relative;
        a{
            @include absoluteCentre;

            span{

                i{
                    font-size:8rem;
                    color:$secondary;
                }
            }
        }
    }
}