@use '../custom' as *;

.menu{
    background:$white;
    a{
        color:$indigo !important;
        font-weight:600;
        padding: auto 0.7rem !important;
        margin: auto 0.4rem;
        border-bottom:2px solid transparent;

         &:hover{
            color:$secondary !important;
            font-weight:600;
            border-bottom:2px solid $secondary;
        }
    }

    .navbar-toggler{
        background-color:$secondary;
        border:1px solid $pink-700;
   }

    &.portfolio{        

        a{
            font-family: 'Oswald', sans-serif;
            font-size:1.2rem;
            color:$primary !important;
            font-weight:500;
            margin: auto 0.5rem;
            border-bottom:2px solid transparent;

            &:hover{
                color:$secondary !important;
                font-weight:500;
                border-bottom:2px solid $secondary;
            }
        }

        .navbar-toggler{
            background-color:$primary;
            border:1px solid;
        }

        .navbar-brand{
            font-size:2rem;
            font-weight:700;
            -webkit-text-stroke: 0.5px $primary;
            
            span{
                &.text-transparent{
                    color:$white;
                    -webkit-text-stroke: 0.5px $primary;
                }
            }
        }

        
    }

}

