@use '../custom' as *;

.our-courses{
    padding:4rem 0;
    height:100%;
    width:100%;
    background-color: $light;
    text-align:center;
    color:$primary;

    button{
        &.nav-link{
            color:$white;
            background-color: $primary;
        }

        &.nav-link.active{
            color:$primary;
            background-color: $white;
            border-color: $primary;
        }
    }
}