@use '../custom' as *;

.university-partners{
    background-color: $primary;
    padding: 0 0 5rem 0;

    &__logo-holder{
       max-width: 100%;
       height: 12rem;
       text-align:center;
       margin-top: 2rem;
       position:relative;
       
       img{
        height:100%
       }
    }
}