@use '../custom' as *;

.btn-secondary{
    color:white;
    background-color: $secondary;
    font-weight:600;
    border: 1px solid $pink-700;

    &:hover{
        background-color: $white;
        font-weight:600;
        color:$secondary;
        border: 1px solid $pink-700;
    }
}